{% if content.field_image|render %}

	<div class="m-banner m-banner--{{ ct }}" role="banner">
		<div class="grid">
			<div class="col-sm-6">
				<div class="m-banner__copy">

				{% if content.field_subtitle|render %}
					<p>{{ content.field_subtitle }}</p>
				{% endif %}
				
				{% if node.title.value %}
					<h1>
						{{ node.title.value }}
					</h1>
				{% endif %}

				{% if ct == 'landing-page' or ct == 'series-page' %}
					{% if content.field_quote|render %}
						{{ content.field_quote }}
					{% elseif content.body|render %}
						{{ content.body}}
					{% endif %}
				{% endif %}
				
				{% if content.field_brochure|render %}
					{{ content.field_brochure }}
				{% endif %}

				{% if content.field_run_date|render %}
					{% if multiple_perf %}
						<p>{{ content.field_run_date }}</p>
					{% else %}
						{% if content.field_hide_time|render and content.field_hide_time[0]['#markup'] == '1' %}
							<p>{{ singleperfdatenotime }}</p>
						{% else %}
							<p>{{ singleperfdate }}</p>
						{% endif %}
					{% endif %}
				{% endif %}

				</div>
			</div>
			<div class="col-sm-6">
				<figure class="m-banner__image">
					{% include '@pippip/partials/atoms/banner-image-sm.twig' with {image: node.field_image[0].entity.uri.value, alt: content.field_image[0]['#item'].alt} %}

					{% include '@pippip/partials/atoms/image-credit.twig' with {credit: content.field_image_credit[0]['#context'].value} %}
				</figure>
			</div>
		</div>
	</div>

{% else %}

	<div class="m-no-banner m-no-banner--{{ ct }}" role="banner">
		<div class="grid">
			<div class="col-12">

				{% if node.title.value %}
					<h1>
						{{ node.title.value }}
					</h1>
				{% endif %}

			</div>
		</div>
	</div>

{% endif %}