<aside class="o-sidebar m-entity">
  {% if booking_link %}
	  {% if not pastEvent %}
      <div class="o-sidebar__book">
			  {{ booking_link }}
      </div>
    {% endif %}
  {% endif %}

  {% if content.field_price|render %}
    <h3>Prices</h3>
    {{ content.field_price }}
  {% endif %}

  <h3>Details</h3>

  <div class="o-sidebar__details">
    {% if content.field_venue|render %}
      <div>
        <strong>Venue:</strong>
        {{ drupal_view('venue_link','link', content.field_venue.0['#plain_text'])}}
      </div>
    {% endif %}

    {% if content.field_genre|render %}
      <p><strong>Categories:</strong> {{ content.field_genre }}</p>
    {% endif %}

    {% if content.field_door_time|render %}
      <p><strong>Door time:</strong> {{ content.field_door_time }}</p>
    {% endif %}
  </div>

  {% if content.field_details|render %}
    {{ content.field_details }}
  {% endif %}

  {% if content.field_series|render %}
    <h3>Part of</h3>
    {{ drupal_view('series_link','link', content.field_series.0['#plain_text'])}}
  {% endif %}
</aside>