{%
  set classes = [
    'view__' ~ view.element['#name'],
    'm-entity',
    'm-entity__view',
    'a-content',
    'a-content--stories'
  ]
%}
<div{{attributes.addClass(classes)}}>
  <div class="m-filters">
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-filters__inner">
          <p><strong>Filter by:</strong></p>
          {{ exposed }}
          <a href="{{ drupal_url('node/11') }}" title="See all" class="m-filters__all">See all</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-sm-12">
      {% if rows %}
        <div class="a-grid a-grid--4">
          {{ rows }}
        </div>
      {% else %}
        {{ empty }}
      {% endif %}
      {{ pager }}
    </div>
  </div>
</div>

{{ attach_library('pippip/stories') }}