{%
  set classes = [
    'view__' ~ view.element['#name'],
    'a-content',
    'm-related-content'
  ]
%}
<div{{attributes.addClass(classes)}} id="whats-on">
	<div class="grid justify-center">
		<div class="col-12">
      {% if header %}
        <header class="m-related-content__header">
          {{ header }}
        </header>
      {% endif %}

      {% if rows %}
        <div class="a-grid a-grid--3">
          {{ rows }}
        </div>
      {% else %}
        {{ empty }}
      {% endif %}

      {{ pager }}

    </div>
  </div>
</div>
