{%
  set classes = [
    'view__' ~ view.element['#name'],
    'm-entity',
    'm-entity__view',
    'a-content',
    'a-content--whats-on'
  ]
%}
<div{{attributes.addClass(classes)}}>
  <div class="m-filters">
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-filters__inner">
          <p><strong>Filter by:</strong></p>
          <button class="m-filters__btn" data-target="whats-on">What's on</button>
          <button class="m-filters__btn" data-target="date">Date</button>
          <a href="{{ drupal_url('node/9') }}" class="m-filters__all a-btn" title="See all">See all</a>

          <a href="{{ drupal_url('node/139') }}" class="m-filters__other" title="Other venues">Other venues</a>
          <a href="{{ drupal_url('node/140') }}" title="Archive">Archive</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="m-filters__filter-section" data-name="whats-on" data-filter data-visible="false">
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-filters__filter-inner">
        
          <div class="m-filters__subfilter">
           {{ drupal_view('genre_listing') }}
          </div>

          <div class="m-filters__subfilter">
            {{ drupal_view('series_listing') }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="m-filters__filter-section" data-name="date" data-filter data-visible="false">
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-filters__filter-inner">
          
          <div class="m-filters__subfilter">
            <label>Choose a date</label>

            <div class="m-filters__links m-filters__date-links" id="dateLinks">
              <button data-date="today" title="See events today">Today</button>
              <button data-date="tomorrow" title="See events tomorrow">Tomorrow</a>
              <button data-date="week" title="See events in the next 7 days">Next 7 days</a>
              <button data-date="month" title="See events in the next 31 days">Next 31 days</>
            </div>
          </div>

          <div class="m-filters__subfilter">
            <label>Select a date or date range</label>

            <div class="datepicker-container">
              <section>
                <input type="text" id="datePicker" class="datepicker"/>
              </section>
              <button id="submitPicker" class="a-btn" data-target="/whats-on?date=">Apply</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="m-entity">
    <div class="grid">
      <div class="col-sm-12">
        {% if rows %}
          <div class="a-grid a-grid--4">
            {{ rows }}
          </div>
        {% else %}
          {{ empty }}
        {% endif %}
        {{ pager }}
      </div>
    </div>
  </div>

</div>

{{ attach_library('pippip/whatson') }}