{%
  set classes = [
    'view__' ~ view.element['#name'],
    'm-entity',
    'm-entity__view',
    'a-content',
    'a-content--whats-on'
  ]
%}
<div{{attributes.addClass(classes)}}>
  <div class="m-filters">
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-filters__inner">
          <p><strong>Filter by:</strong></p>
          <button class="m-filters__btn" data-target="years">Years</button>
          <a href="{{ drupal_url('node/140') }}" class="m-filters__all a-btn" title="See all">See all</a>

          <a href="{{ drupal_url('node/139') }}" class="m-filters__other" title="Other venues">Other venues</a>
          <a href="{{ drupal_url('node/9') }}" title="What's on now">What's on now</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="m-filters__filter-section" data-name="years" data-filter data-visible="false">
    <div class="grid">
      <div class="col-sm-12">
        <div class="m-filters__filter-inner">
        
          <div class="m-filters__subfilter">
            {{ drupal_view('years_for_archive') }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="m-entity">
    <div class="grid">
      <div class="col-sm-12">
        {% if rows %}
          <div class="a-grid a-grid--4">
            {{ rows }}
          </div>
        {% else %}
          {{ empty }}
        {% endif %}
        {{ pager }}
      </div>
    </div>
  </div>

</div>

{{ attach_library('pippip/whatson') }}