{% extends "node.html.twig" %}

{% block content %}

	{% if view_mode == "full" %}

		<section class="m-banner m-banner--home" role="banner">

			<figure class="m-banner__image">
				{% include '@pippip/partials/atoms/banner-image.twig' with {image: node.field_image[0].entity.uri.value, alt: content.field_image[0]['#item'].alt} %}

				{% include '@pippip/partials/atoms/image-credit.twig' with {credit: content.field_image_credit[0]['#context'].value} %}
			</figure>

			<div class="m-banner__copy">
				<div class="grid">
					<div class="col-sm-10 col-xlg-8">
						<h1 class="featured">{{ node.title.value }}</h1>

						{% if content.field_banner_strapline|render %}
							<p>{{ content.field_banner_strapline}}</p>
						{% endif %}

						{% if content.field_banner_cta|render %}
							{{ content.field_banner_cta}}
						{% endif %}
					</div>
				</div>
			</div>

			{% if (content.field_banner_video_mp4|render) or (content.field_banner_video_webm|render) or (content.field_banner_video_ogv|render) %}
				{%
					set video = [{
						type : 'video/mp4',
						source : content.field_banner_video_mp4|render|striptags|trim
					},
					{
						type : 'video/ogg',
						source : content.field_banner_video_ogv|render|striptags|trim
					},
					{
						type : 'video/webm',
						source : content.field_banner_video_webm|render|striptags|trim
					}]
				%}

				<video class="m-banner__video" playsinline muted loop data-object-fit="cover">
					{% for file in video %}
						<source src="{{ file.source }}" type="{{ file.type }}">
					{% endfor %}
				</video>

				<div class="m-banner__control">
					<div class="grid">
						<div class="col-sm-12">
							<button class="a-video-control a-video-control--play" aria-label="Play/pause video"></button>
						</div>
					</div>
				</div>

				{{ attach_library('pippip/front') }}
			{% endif %}
		</section>

		{% if content.field_featured_events|render %}
			{{ content.field_featured_events}}
		{% endif %}

		{% if content.field_series_links|render %}
			<div class="m-series-links">
				<h3>Our series</h3>
				
				{{ content.field_series_links }}
			</div>
		{% endif %}

		{% if content.field_your_visit_copy|render and content.field_your_visit_title|render %}
			<div class="a-content a-content--sb m-related-content">
				<div class="grid">
					<div class="col-sm-12">

						<header class="m-related-content__header">
							<h2>{{ content.field_your_visit_title }}</h2>
						</header>

						<div class="m-your-visit">
							{% if content.field_your_visit_image|render %}
								{% include '@pippip/partials/atoms/banner-image.twig' with {image: node.field_your_visit_image[0].entity.uri.value, alt: content.field_your_visit_image[0]['#item'].alt} %}
							{% endif %}

							<div class="m-your-visit__content">
								{{ content.field_your_visit_copy }}

								{% if content.field_your_visit_cta|render %}
									{{ content.field_your_visit_cta}}
								{% endif %}
							</div>
						</div>

					</div>
				</div>
			</div>
		{% endif %}

		{{ drupal_view('latest_stories') }}

	{% else %}

		{% include '@pippip/partials/organisms/teaser.twig' with {mode: view_mode|clean_class, ct: node.bundle|clean_class} %}

	{% endif %}
		
{% endblock %}
