{% extends "node.html.twig" %}

{% block content %}

	{% if view_mode == "full" %}

		<div class="grid">
      <div class="col-sm-8 col-xlg-6 offset-sm-2 offset-xlg-3">
        <div class="m-no-banner m-no-banner--story">
          <h1>{{ node.title.value }}</h1>
          
          <p class="o-story__published">
            <strong>{{ node.createdtime|format_date('date_month') }}</strong>
            {% if content.field_story_category|render %}
              <span>{{ content.field_story_category }}</span>
            {% endif %}
            {% if content.field_read_time|render %}
              <span class="a-read-time">{{ content.field_read_time}}</span>
            {% endif %}
          </p>

          {% if content.field_image|render %}
            <section class="m-entity">
              {% include '@pippip/partials/atoms/banner-image.twig' with {image: node.field_image[0].entity.uri.value, alt: content.field_image[0]['#item'].alt} %}
            </section>
          {% endif %}

          {% if content.body|render %}
            <section class="m-entity m-entity__body">
              {{ content.body}}
            </section>
          {% endif %}

          {% if content.field_content|render %}
            {{ content.field_content}}
          {% endif %}
        </div>
      </div>
    </div>

    {% if content.field_related_stories|render %}
      {{ content.field_related_stories }}
    {% endif %}

	{% else %}

		{% include '@pippip/partials/organisms/teaser.twig' with {mode: view_mode|clean_class, ct: node.bundle|clean_class} %}

	{% endif %}
		
{% endblock %}
