<div class="m-performance" {% if fields.field_image.content %} data-bg="{{ fields.field_image.content}}" {% endif %}>

  <span class="m-performance__meta m-performance__meta--date">
    {{ fields.field_perf_date.content }}
  </span>

  <div class="m-performance__booking">

    {%- if fields.field_perf_booking_link.content -%}
      {% set bookurl = fields.field_perf_booking_link.content %}
    {% else %}
      {% set bookurl = '/book/' ~ fields.field_seatgeek_perf_id.content %}
    {% endif %}

    {%- if fields.field_sold_out.content == '1' -%}
      <span class="a-btn no-click a-btn--wh">
        {% if fields.field_availability_override.content %}
          {{ fields.field_availability_override.content}}
        {% else %}
          Sold out
        {% endif %}
      </span>
    {% else %}
      <a href="{{ bookurl }}" class="a-btn a-btn--book">
        {% if fields.field_availability_override.content %}
          {{ fields.field_availability_override.content }}
        {% else %}
          Book now
        {% endif %}
      </a>
    {% endif %}
  </div>

</div>