{% include '@pippip/partials/molecules/banner.twig' with {ct: ct} %}

{% if ct != 'listing-page' %}
	<section class="a-content">

		<div class="grid justify-center">
			<div class="col-12">

				{% if ct == 'landing-page' %}

					{% if content.field_signposts|render %}
						{{ content.field_signposts }}
					{% endif %}

				{% elseif ct == 'series-page' %}

					{{ drupal_view('series_events','series_events', content.field_series[0]['#plain_text']) }}

				{% else %}

					<div class="grid justify-space-between">
						<div class="col-sm-8 col-lg-6 order-1 order-sm-0">
								{% if content.body|render %}
									<div class="m-entity m-entity__body">
										{{ content.body }}
									</div>
								{% endif %}

								{% if content.field_content|render %}
									{{ content.field_content }}
								{% endif %}
						</div>

						<div class="col-sm-4 col-lg-4 order-0 order-sm-1">
							{% if ct == 'page' %}
								{% include '@pippip/partials/molecules/sidebar.twig' %}
							{% elseif ct == 'event' %}
								{% include '@pippip/partials/molecules/sidebar-event.twig' %}
							{% elseif ct == 'venue' %}
								{% include '@pippip/partials/molecules/sidebar-venue.twig' %}
							{% endif %}
						</div>
					</div>

				{% endif %}

			</div>
		</div>

	</section>
{% endif %}

{% if content.field_listings_view|render %}
	{{ content.field_listings_view }}
{% endif %}

{% if content.field_related_content|render %}
	{{ content.field_related_content }}
{% endif %}

{% if ct == 'venue' %}
	{{ drupal_view('venue_events','venue_events', content.field_venue[0]['#plain_text']) }}
{% endif %}