{% set class =  'o-teaser-' ~ mode %}

{% if content.field_image|render %}
	<a href="{{ url }}" class="{{ class }}__thumb o-teaser__thumb" title="Open {{ node.title.value }}">		
		{% set imageUri = node.field_image[0].entity.uri.value %}
		{% set imageAlt = content.field_image[0]['#item'].alt %}

		{% include '@pippip/partials/atoms/teaser-image.twig' with {image: imageUri, alt: imageAlt, mode: mode, ct: ct} %}

		{# {% if content.field_genre|render %}
			{{ content.field_genre }}
		{% endif %} #}

		{% if content.field_story_category|render %}
			<div class="o-teaser__genres">
				{{ content.field_story_category }}
			</div>
		{% endif %}
	</a>
{% endif %}

<div class="{{ class }}__content o-teaser__content">

	<h3 class="h4">
		<a href="{{ url }}" title="Open {{ node.title.value }}">
			{{ node.title.value }}
		</a>
	</h3>

	{% if ct =='event' %}
		{% if content.field_run_date|render %}
			{% if multiple_perf %}
				<p>{{ content.field_run_date }}</p>
			{% else %}
				{% if content.field_hide_time|render and content.field_hide_time[0]['#markup'] == '1' %}
					<p>{{ singleperfdatenotime }}</p>
				{% else %}
					<p>{{ singleperfdate }}</p>
				{% endif %}
			{% endif %}
		{% endif %}
		{% if content.field_venue|render %}
			{{ content.field_venue}}
		{% endif %}
	{% elseif ct == 'story' %}
		<p>{{ node.createdtime|format_date('date_month') }}</p>
	{% else %}
		{% if content.body|render %}
			{{ content.body}}
		{% endif %}
	{% endif %}

	{% if content.field_read_time|render %}
		<span class="a-read-time">{{ content.field_read_time}}</span>
	{% endif %}

</div>

{% if booking_link %}
	{% if not pastEvent %}
		<div class="{{ class }}__buttons o-teaser__buttons">
			{{ booking_link }}
		</div>
	{% endif %}
{% endif %}

